/*!
	* Prismleaf Tokens: Active
	*
	* Active palette mappings and semantic tokens.
	*
	* @package prismleaf
	*/

:root {



	/* Active palette: neutrals. */
	--prismleaf-color-background: var(--prismleaf-color-light-background);
	--prismleaf-color-on-background: var(--prismleaf-color-light-on-background);
	--prismleaf-color-background-darker: var(--prismleaf-color-light-background-darker);
	--prismleaf-color-background-darkest: var(--prismleaf-color-light-background-darkest);
	--prismleaf-color-background-lighter: var(--prismleaf-color-light-background-lighter);
	--prismleaf-color-background-lightest: var(--prismleaf-color-light-background-lightest);
	--prismleaf-color-surface: var(--prismleaf-color-light-surface);
	--prismleaf-color-on-surface: var(--prismleaf-color-light-on-surface);
	--prismleaf-color-surface-darker: var(--prismleaf-color-light-surface-darker);
	--prismleaf-color-surface-darkest: var(--prismleaf-color-light-surface-darkest);
	--prismleaf-color-surface-lighter: var(--prismleaf-color-light-surface-lighter);
	--prismleaf-color-surface-lightest: var(--prismleaf-color-light-surface-lightest);
	--prismleaf-color-surface-variant: var(--prismleaf-color-light-surface-variant);
	--prismleaf-color-on-surface-variant: var(--prismleaf-color-light-on-surface-variant);
	--prismleaf-color-surface-variant-darker: var(--prismleaf-color-light-surface-variant-darker);
	--prismleaf-color-surface-variant-darkest: var(--prismleaf-color-light-surface-variant-darkest);
	--prismleaf-color-surface-variant-lighter: var(--prismleaf-color-light-surface-variant-lighter);
	--prismleaf-color-surface-variant-lightest: var(--prismleaf-color-light-surface-variant-lightest);
	--prismleaf-color-foreground: var(--prismleaf-color-light-foreground);
	--prismleaf-color-on-foreground: var(--prismleaf-color-light-on-foreground);
	--prismleaf-color-foreground-darker: var(--prismleaf-color-light-foreground-darker);
	--prismleaf-color-foreground-darkest: var(--prismleaf-color-light-foreground-darkest);
	--prismleaf-color-foreground-lighter: var(--prismleaf-color-light-foreground-lighter);
	--prismleaf-color-foreground-lightest: var(--prismleaf-color-light-foreground-lightest);


	/* Active palette: shadows and glow. */
	--prismleaf-shadow: var(--prismleaf-shadow-light-elevation-1);

	/* Active palette: opacity values. */
	--prismleaf-color-outline: var(--prismleaf-color-light-outline);
	--prismleaf-color-outline-variant: var(--prismleaf-color-light-outline-variant);
	--prismleaf-color-divider: var(--prismleaf-color-light-divider);
	--prismleaf-color-on-surface-muted: var(--prismleaf-color-light-on-surface-muted);
	--prismleaf-color-disabled-foreground: var(--prismleaf-color-light-disabled-foreground);
	--prismleaf-color-disabled-surface: var(--prismleaf-color-light-disabled-surface);
	--prismleaf-color-scrim: var(--prismleaf-color-light-scrim);


	/* Branding. */

	/* Active palette: code. */
	--prismleaf-color-code-surface: var(--prismleaf-color-surface-variant);
	--prismleaf-color-on-code-surface: var(--prismleaf-color-on-surface-variant);
	--prismleaf-color-code-foreground: var(--prismleaf-color-foreground);

	/* Active palette: hyperlink defaults. */
	--prismleaf-color-link: var(--prismleaf-color-secondary);
	--prismleaf-color-link-hover: var(--prismleaf-color-secondary-darker);
	--prismleaf-color-link-active: var(--prismleaf-color-secondary-darkest);
	--prismleaf-color-link-visited: var(--prismleaf-color-secondary-darker);
	--prismleaf-color-on-link: var(--prismleaf-color-on-secondary);

	/* Active palette: hyperlink titles. */
	--prismleaf-color-title-link: var(--prismleaf-color-primary);
	--prismleaf-color-title-link-hover: var(--prismleaf-color-primary-darker);
	--prismleaf-color-title-link-active: var(--prismleaf-color-primary-darkest);
	--prismleaf-color-title-link-visited: var(--prismleaf-color-primary-darker);
	--prismleaf-color-on-title-link: var(--prismleaf-color-on-primary);

	/* Active palette: hyperlink variant. */
	--prismleaf-color-variant-link: var(--prismleaf-color-tertiary);
	--prismleaf-color-variant-link-hover: var(--prismleaf-color-tertiary-darker);
	--prismleaf-color-variant-link-active: var(--prismleaf-color-tertiary-darkest);
	--prismleaf-color-variant-link-visited: var(--prismleaf-color-tertiary-darker);
	--prismleaf-color-on-variant-link: var(--prismleaf-color-on-tertiary);

	/* Active palette: focus. */
	--prismleaf-color-focus-ring: var(--prismleaf-color-secondary);
	--prismleaf-color-focus-ring-hover: var(--prismleaf-color-secondary-darker);
	--prismleaf-color-focus-ring-active: var(--prismleaf-color-secondary-darkest);
	--prismleaf-color-on-focus-ring: var(--prismleaf-color-on-secondary);

	/* Active palette: selection. */
	--prismleaf-color-selection-background: var(--prismleaf-color-secondary-container);
	--prismleaf-color-selection-foreground: var(--prismleaf-color-on-secondary-container);

	/* Active palette: content. */
	--prismleaf-region-content-background: var(--prismleaf-color-surface);
	--prismleaf-region-content-foreground: var(--prismleaf-color-on-surface);
	--prismleaf-region-content-border-style: var(--prismleaf-border-style);
	--prismleaf-region-content-border-color: var(--prismleaf-color-outline);
	--prismleaf-region-content-radius: var(--prismleaf-radius-medium);
	--prismleaf-region-content-shadow: var(--prismleaf-shadow);

	/* Active palette: header. */
	--prismleaf-region-header-background: var(--prismleaf-color-surface);
	--prismleaf-region-header-foreground: var(--prismleaf-color-on-surface);
	--prismleaf-region-header-border-style: var(--prismleaf-border-style);
	--prismleaf-region-header-border-color: var(--prismleaf-color-outline);
	--prismleaf-region-header-radius: var(--prismleaf-radius-medium);
	--prismleaf-region-header-shadow: var(--prismleaf-shadow);

	/* Active palette: footer. */
	--prismleaf-region-footer-background: var(--prismleaf-color-surface-variant);
	--prismleaf-region-footer-foreground: var(--prismleaf-color-on-surface-variant);
	--prismleaf-region-footer-border-style: var(--prismleaf-border-style);
	--prismleaf-region-footer-border-color: var(--prismleaf-color-outline);
	--prismleaf-region-footer-radius: var(--prismleaf-radius-medium);
	--prismleaf-region-footer-shadow: var(--prismleaf-shadow);

	/* Active palette: sidebar left. */
	--prismleaf-region-sidebar-left-background: var(--prismleaf-color-surface-variant);
	--prismleaf-region-sidebar-left-foreground: var(--prismleaf-color-on-surface-variant);
	--prismleaf-region-sidebar-left-border-style: var(--prismleaf-border-style);
	--prismleaf-region-sidebar-left-border-color: var(--prismleaf-color-outline);
	--prismleaf-region-sidebar-left-radius: var(--prismleaf-radius-medium);
	--prismleaf-region-sidebar-left-shadow: var(--prismleaf-shadow);

	/* Active palette: sidebar right. */
	--prismleaf-region-sidebar-right-background: var(--prismleaf-color-surface-variant);
	--prismleaf-region-sidebar-right-foreground: var(--prismleaf-color-on-surface-variant);
	--prismleaf-region-sidebar-right-border-style: var(--prismleaf-border-style);
	--prismleaf-region-sidebar-right-border-color: var(--prismleaf-color-outline);
	--prismleaf-region-sidebar-right-radius: var(--prismleaf-radius-medium);
	--prismleaf-region-sidebar-right-shadow: var(--prismleaf-shadow);
}

/* System dark mode. */
@media (prefers-color-scheme: dark) {

	:root {



		/* Active palette: neutrals. */
		--prismleaf-color-background: var(--prismleaf-color-dark-background);
		--prismleaf-color-on-background: var(--prismleaf-color-dark-on-background);
		--prismleaf-color-background-darker: var(--prismleaf-color-dark-background-darker);
		--prismleaf-color-background-darkest: var(--prismleaf-color-dark-background-darkest);
		--prismleaf-color-background-lighter: var(--prismleaf-color-dark-background-lighter);
		--prismleaf-color-background-lightest: var(--prismleaf-color-dark-background-lightest);
		--prismleaf-color-surface: var(--prismleaf-color-dark-surface);
		--prismleaf-color-on-surface: var(--prismleaf-color-dark-on-surface);
		--prismleaf-color-surface-darker: var(--prismleaf-color-dark-surface-darker);
		--prismleaf-color-surface-darkest: var(--prismleaf-color-dark-surface-darkest);
		--prismleaf-color-surface-lighter: var(--prismleaf-color-dark-surface-lighter);
		--prismleaf-color-surface-lightest: var(--prismleaf-color-dark-surface-lightest);
		--prismleaf-color-surface-variant: var(--prismleaf-color-dark-surface-variant);
		--prismleaf-color-on-surface-variant: var(--prismleaf-color-dark-on-surface-variant);
		--prismleaf-color-surface-variant-darker: var(--prismleaf-color-dark-surface-variant-darker);
		--prismleaf-color-surface-variant-darkest: var(--prismleaf-color-dark-surface-variant-darkest);
		--prismleaf-color-surface-variant-lighter: var(--prismleaf-color-dark-surface-variant-lighter);
		--prismleaf-color-surface-variant-lightest: var(--prismleaf-color-dark-surface-variant-lightest);
		--prismleaf-color-foreground: var(--prismleaf-color-dark-foreground);
		--prismleaf-color-on-foreground: var(--prismleaf-color-dark-on-foreground);
		--prismleaf-color-foreground-darker: var(--prismleaf-color-dark-foreground-darker);
		--prismleaf-color-foreground-darkest: var(--prismleaf-color-dark-foreground-darkest);
		--prismleaf-color-foreground-lighter: var(--prismleaf-color-dark-foreground-lighter);
		--prismleaf-color-foreground-lightest: var(--prismleaf-color-dark-foreground-lightest);


		/* Active palette: shadows and glow. */
		--prismleaf-shadow: var(--prismleaf-shadow-dark-elevation-1);

		/* Active palette: opacity values. */
		--prismleaf-color-outline: var(--prismleaf-color-dark-outline);
		--prismleaf-color-outline-variant: var(--prismleaf-color-dark-outline-variant);
		--prismleaf-color-divider: var(--prismleaf-color-dark-divider);
		--prismleaf-color-on-surface-muted: var(--prismleaf-color-dark-on-surface-muted);
		--prismleaf-color-disabled-foreground: var(--prismleaf-color-dark-disabled-foreground);
		--prismleaf-color-disabled-surface: var(--prismleaf-color-dark-disabled-surface);
		--prismleaf-color-scrim: var(--prismleaf-color-dark-scrim);
		--prismleaf-color-title-link: var(--prismleaf-color-dark-title-link);
		--prismleaf-color-title-link-hover: var(--prismleaf-color-dark-title-link-hover);
		--prismleaf-color-title-link-active: var(--prismleaf-color-dark-title-link-active);
		--prismleaf-color-title-link-visited: var(--prismleaf-color-dark-title-link-visited);
		--prismleaf-site-tagline-color: var(--prismleaf-color-dark-site-tagline);
	}

	/* Branding. */

	/* Active palette: code. */
	--prismleaf-color-code-surface: var(--prismleaf-color-surface-variant);
	--prismleaf-color-on-code-surface: var(--prismleaf-color-on-surface-variant);
	--prismleaf-color-code-foreground: var(--prismleaf-color-foreground);

	/* Active palette: hyperlink defaults. */
	--prismleaf-color-link: var(--prismleaf-color-secondary);
	--prismleaf-color-link-hover: var(--prismleaf-color-secondary-darker);
	--prismleaf-color-link-active: var(--prismleaf-color-secondary-darkest);
	--prismleaf-color-link-visited: var(--prismleaf-color-secondary-darker);
	--prismleaf-color-on-link: var(--prismleaf-color-on-secondary);

	/* Active palette: hyperlink titles. */
	--prismleaf-color-title-link: var(--prismleaf-color-primary);
	--prismleaf-color-title-link-hover: var(--prismleaf-color-primary-darker);
	--prismleaf-color-title-link-active: var(--prismleaf-color-primary-darkest);
	--prismleaf-color-title-link-visited: var(--prismleaf-color-primary-darker);
	--prismleaf-color-on-title-link: var(--prismleaf-color-on-primary);

	/* Active palette: hyperlink variant. */
	--prismleaf-color-variant-link: var(--prismleaf-color-tertiary);
	--prismleaf-color-variant-link-hover: var(--prismleaf-color-tertiary-darker);
	--prismleaf-color-variant-link-active: var(--prismleaf-color-tertiary-darkest);
	--prismleaf-color-variant-link-visited: var(--prismleaf-color-tertiary-darker);
	--prismleaf-color-on-variant-link: var(--prismleaf-color-on-tertiary);

	/* Active palette: focus. */
	--prismleaf-color-focus-ring: var(--prismleaf-color-secondary);
	--prismleaf-color-focus-ring-hover: var(--prismleaf-color-secondary-darker);
	--prismleaf-color-focus-ring-active: var(--prismleaf-color-secondary-darkest);
	--prismleaf-color-on-focus-ring: var(--prismleaf-color-on-secondary);

	/* Active palette: selection. */
	--prismleaf-color-selection-background: var(--prismleaf-color-secondary-container);
	--prismleaf-color-selection-foreground: var(--prismleaf-color-on-secondary-container);

	/* Active palette: content. */
	--prismleaf-region-content-background: var(--prismleaf-color-surface);
	--prismleaf-region-content-foreground: var(--prismleaf-color-on-surface);
	--prismleaf-region-content-border-style: var(--prismleaf-border-style);
	--prismleaf-region-content-border-color: var(--prismleaf-color-outline);
	--prismleaf-region-content-radius: var(--prismleaf-radius-medium);
	--prismleaf-region-content-shadow: var(--prismleaf-shadow);

	/* Active palette: header. */
	--prismleaf-region-header-background: var(--prismleaf-color-surface);
	--prismleaf-region-header-foreground: var(--prismleaf-color-on-surface);
	--prismleaf-region-header-border-style: var(--prismleaf-border-style);
	--prismleaf-region-header-border-color: var(--prismleaf-color-outline);
	--prismleaf-region-header-radius: var(--prismleaf-radius-medium);
	--prismleaf-region-header-shadow: var(--prismleaf-shadow);

	/* Active palette: footer. */
	--prismleaf-region-footer-background: var(--prismleaf-color-surface-variant);
	--prismleaf-region-footer-foreground: var(--prismleaf-color-on-surface-variant);
	--prismleaf-region-footer-border-style: var(--prismleaf-border-style);
	--prismleaf-region-footer-border-color: var(--prismleaf-color-outline);
	--prismleaf-region-footer-radius: var(--prismleaf-radius-medium);
	--prismleaf-region-footer-shadow: var(--prismleaf-shadow);

	/* Active palette: sidebar left. */
	--prismleaf-region-sidebar-left-background: var(--prismleaf-color-surface-variant);
	--prismleaf-region-sidebar-left-foreground: var(--prismleaf-color-on-surface-variant);
	--prismleaf-region-sidebar-left-border-style: var(--prismleaf-border-style);
	--prismleaf-region-sidebar-left-border-color: var(--prismleaf-color-outline);
	--prismleaf-region-sidebar-left-radius: var(--prismleaf-radius-medium);
	--prismleaf-region-sidebar-left-shadow: var(--prismleaf-shadow);

	/* Active palette: sidebar right. */
	--prismleaf-region-sidebar-right-background: var(--prismleaf-color-surface-variant);
	--prismleaf-region-sidebar-right-foreground: var(--prismleaf-color-on-surface-variant);
	--prismleaf-region-sidebar-right-border-style: var(--prismleaf-border-style);
	--prismleaf-region-sidebar-right-border-color: var(--prismleaf-color-outline);
	--prismleaf-region-sidebar-right-radius: var(--prismleaf-radius-medium);
	--prismleaf-region-sidebar-right-shadow: var(--prismleaf-shadow);
}

/* User-selected light overrides. */
:root[data-prismleaf-color-scheme="light"] {



	/* Active palette: neutrals. */
	--prismleaf-color-background: var(--prismleaf-color-light-background);
	--prismleaf-color-on-background: var(--prismleaf-color-light-on-background);
	--prismleaf-color-background-darker: var(--prismleaf-color-light-background-darker);
	--prismleaf-color-background-darkest: var(--prismleaf-color-light-background-darkest);
	--prismleaf-color-background-lighter: var(--prismleaf-color-light-background-lighter);
	--prismleaf-color-background-lightest: var(--prismleaf-color-light-background-lightest);
	--prismleaf-color-surface: var(--prismleaf-color-light-surface);
	--prismleaf-color-on-surface: var(--prismleaf-color-light-on-surface);
	--prismleaf-color-surface-darker: var(--prismleaf-color-light-surface-darker);
	--prismleaf-color-surface-darkest: var(--prismleaf-color-light-surface-darkest);
	--prismleaf-color-surface-lighter: var(--prismleaf-color-light-surface-lighter);
	--prismleaf-color-surface-lightest: var(--prismleaf-color-light-surface-lightest);
	--prismleaf-color-surface-variant: var(--prismleaf-color-light-surface-variant);
	--prismleaf-color-on-surface-variant: var(--prismleaf-color-light-on-surface-variant);
	--prismleaf-color-surface-variant-darker: var(--prismleaf-color-light-surface-variant-darker);
	--prismleaf-color-surface-variant-darkest: var(--prismleaf-color-light-surface-variant-darkest);
	--prismleaf-color-surface-variant-lighter: var(--prismleaf-color-light-surface-variant-lighter);
	--prismleaf-color-surface-variant-lightest: var(--prismleaf-color-light-surface-variant-lightest);
	--prismleaf-color-foreground: var(--prismleaf-color-light-foreground);
	--prismleaf-color-on-foreground: var(--prismleaf-color-light-on-foreground);
	--prismleaf-color-foreground-darker: var(--prismleaf-color-light-foreground-darker);
	--prismleaf-color-foreground-darkest: var(--prismleaf-color-light-foreground-darkest);
	--prismleaf-color-foreground-lighter: var(--prismleaf-color-light-foreground-lighter);
	--prismleaf-color-foreground-lightest: var(--prismleaf-color-light-foreground-lightest);


	/* Active palette: shadows and glow. */
	--prismleaf-shadow: var(--prismleaf-shadow-light-elevation-1);

	/* Active palette: opacity values. */
	--prismleaf-color-outline: var(--prismleaf-color-light-outline);
	--prismleaf-color-outline-variant: var(--prismleaf-color-light-outline-variant);
	--prismleaf-color-divider: var(--prismleaf-color-light-divider);
	--prismleaf-color-on-surface-muted: var(--prismleaf-color-light-on-surface-muted);
	--prismleaf-color-disabled-foreground: var(--prismleaf-color-light-disabled-foreground);
	--prismleaf-color-disabled-surface: var(--prismleaf-color-light-disabled-surface);
	--prismleaf-color-scrim: var(--prismleaf-color-light-scrim);
}

/* User selected dark overrides. */
:root[data-prismleaf-color-scheme="dark"] {



	/* Active palette: neutrals. */
	--prismleaf-color-background: var(--prismleaf-color-dark-background);
	--prismleaf-color-on-background: var(--prismleaf-color-dark-on-background);
	--prismleaf-color-background-darker: var(--prismleaf-color-dark-background-darker);
	--prismleaf-color-background-darkest: var(--prismleaf-color-dark-background-darkest);
	--prismleaf-color-background-lighter: var(--prismleaf-color-dark-background-lighter);
	--prismleaf-color-background-lightest: var(--prismleaf-color-dark-background-lightest);
	--prismleaf-color-surface: var(--prismleaf-color-dark-surface);
	--prismleaf-color-on-surface: var(--prismleaf-color-dark-on-surface);
	--prismleaf-color-surface-darker: var(--prismleaf-color-dark-surface-darker);
	--prismleaf-color-surface-darkest: var(--prismleaf-color-dark-surface-darkest);
	--prismleaf-color-surface-lighter: var(--prismleaf-color-dark-surface-lighter);
	--prismleaf-color-surface-lightest: var(--prismleaf-color-dark-surface-lightest);
	--prismleaf-color-surface-variant: var(--prismleaf-color-dark-surface-variant);
	--prismleaf-color-on-surface-variant: var(--prismleaf-color-dark-on-surface-variant);
	--prismleaf-color-surface-variant-darker: var(--prismleaf-color-dark-surface-variant-darker);
	--prismleaf-color-surface-variant-darkest: var(--prismleaf-color-dark-surface-variant-darkest);
	--prismleaf-color-surface-variant-lighter: var(--prismleaf-color-dark-surface-variant-lighter);
	--prismleaf-color-surface-variant-lightest: var(--prismleaf-color-dark-surface-variant-lightest);
	--prismleaf-color-foreground: var(--prismleaf-color-dark-foreground);
	--prismleaf-color-on-foreground: var(--prismleaf-color-dark-on-foreground);
	--prismleaf-color-foreground-darker: var(--prismleaf-color-dark-foreground-darker);
	--prismleaf-color-foreground-darkest: var(--prismleaf-color-dark-foreground-darkest);
	--prismleaf-color-foreground-lighter: var(--prismleaf-color-dark-foreground-lighter);
	--prismleaf-color-foreground-lightest: var(--prismleaf-color-dark-foreground-lightest);


	/* Active palette: shadows and glow. */
	--prismleaf-shadow: var(--prismleaf-shadow-dark-elevation-1);

	/* Active palette: opacity values. */
	--prismleaf-color-outline: var(--prismleaf-color-dark-outline);
	--prismleaf-color-outline-variant: var(--prismleaf-color-dark-outline-variant);
	--prismleaf-color-divider: var(--prismleaf-color-dark-divider);
	--prismleaf-color-on-surface-muted: var(--prismleaf-color-dark-on-surface-muted);
	--prismleaf-color-disabled-foreground: var(--prismleaf-color-dark-disabled-foreground);
	--prismleaf-color-disabled-surface: var(--prismleaf-color-dark-disabled-surface);
	--prismleaf-color-scrim: var(--prismleaf-color-dark-scrim);
}

/* Derived semantic color tokens (if supported). */
@supports (color: color-mix(in srgb, black 50%, transparent)) {

	:root {
		--prismleaf-color-outline: color-mix(in srgb, var(--prismleaf-color-on-surface) 30%, transparent);
		--prismleaf-color-outline-variant: color-mix(in srgb, var(--prismleaf-color-on-surface) 18%, transparent);
		--prismleaf-color-divider: color-mix(in srgb, var(--prismleaf-color-on-surface) 12%, transparent);
		--prismleaf-color-on-surface-muted: color-mix(in srgb, var(--prismleaf-color-on-surface) 72%, transparent);
		--prismleaf-color-disabled-foreground: color-mix(in srgb, var(--prismleaf-color-on-surface) 38%, transparent);
		--prismleaf-color-disabled-surface: color-mix(in srgb, var(--prismleaf-color-on-surface) 12%, transparent);
	}

	/* Branding. */

	/* Active palette: code. */
	--prismleaf-color-code-surface: var(--prismleaf-color-surface-variant);
	--prismleaf-color-on-code-surface: var(--prismleaf-color-on-surface-variant);
	--prismleaf-color-code-foreground: var(--prismleaf-color-foreground);

	/* Active palette: hyperlink defaults. */
	--prismleaf-color-link: var(--prismleaf-color-secondary);
	--prismleaf-color-link-hover: var(--prismleaf-color-secondary-darker);
	--prismleaf-color-link-active: var(--prismleaf-color-secondary-darkest);
	--prismleaf-color-link-visited: var(--prismleaf-color-secondary-darker);
	--prismleaf-color-on-link: var(--prismleaf-color-on-secondary);

	/* Active palette: hyperlink titles. */
	--prismleaf-color-title-link: var(--prismleaf-color-primary);
	--prismleaf-color-title-link-hover: var(--prismleaf-color-primary-darker);
	--prismleaf-color-title-link-active: var(--prismleaf-color-primary-darkest);
	--prismleaf-color-title-link-visited: var(--prismleaf-color-primary-darker);
	--prismleaf-color-on-title-link: var(--prismleaf-color-on-primary);

	/* Active palette: hyperlink variant. */
	--prismleaf-color-variant-link: var(--prismleaf-color-tertiary);
	--prismleaf-color-variant-link-hover: var(--prismleaf-color-tertiary-darker);
	--prismleaf-color-variant-link-active: var(--prismleaf-color-tertiary-darkest);
	--prismleaf-color-variant-link-visited: var(--prismleaf-color-tertiary-darker);
	--prismleaf-color-on-variant-link: var(--prismleaf-color-on-tertiary);

	/* Active palette: focus. */
	--prismleaf-color-focus-ring: var(--prismleaf-color-secondary);
	--prismleaf-color-focus-ring-hover: var(--prismleaf-color-secondary-darker);
	--prismleaf-color-focus-ring-active: var(--prismleaf-color-secondary-darkest);
	--prismleaf-color-on-focus-ring: var(--prismleaf-color-on-secondary);

	/* Active palette: selection. */
	--prismleaf-color-selection-background: var(--prismleaf-color-secondary-container);
	--prismleaf-color-selection-foreground: var(--prismleaf-color-on-secondary-container);

	/* Active palette: content. */
	--prismleaf-region-content-background: var(--prismleaf-color-surface);
	--prismleaf-region-content-foreground: var(--prismleaf-color-on-surface);
	--prismleaf-region-content-border-style: var(--prismleaf-border-style);
	--prismleaf-region-content-border-color: var(--prismleaf-color-outline);
	--prismleaf-region-content-radius: var(--prismleaf-radius-medium);
	--prismleaf-region-content-shadow: var(--prismleaf-shadow);

	/* Active palette: header. */
	--prismleaf-region-header-background: var(--prismleaf-color-surface);
	--prismleaf-region-header-foreground: var(--prismleaf-color-on-surface);
	--prismleaf-region-header-border-style: var(--prismleaf-border-style);
	--prismleaf-region-header-border-color: var(--prismleaf-color-outline);
	--prismleaf-region-header-radius: var(--prismleaf-radius-medium);
	--prismleaf-region-header-shadow: var(--prismleaf-shadow);

	/* Active palette: footer. */
	--prismleaf-region-footer-background: var(--prismleaf-color-surface-variant);
	--prismleaf-region-footer-foreground: var(--prismleaf-color-on-surface-variant);
	--prismleaf-region-footer-border-style: var(--prismleaf-border-style);
	--prismleaf-region-footer-border-color: var(--prismleaf-color-outline);
	--prismleaf-region-footer-radius: var(--prismleaf-radius-medium);
	--prismleaf-region-footer-shadow: var(--prismleaf-shadow);

	/* Active palette: sidebar left. */
	--prismleaf-region-sidebar-left-background: var(--prismleaf-color-surface-variant);
	--prismleaf-region-sidebar-left-foreground: var(--prismleaf-color-on-surface-variant);
	--prismleaf-region-sidebar-left-border-style: var(--prismleaf-border-style);
	--prismleaf-region-sidebar-left-border-color: var(--prismleaf-color-outline);
	--prismleaf-region-sidebar-left-radius: var(--prismleaf-radius-medium);
	--prismleaf-region-sidebar-left-shadow: var(--prismleaf-shadow);

	/* Active palette: sidebar right. */
	--prismleaf-region-sidebar-right-background: var(--prismleaf-color-surface-variant);
	--prismleaf-region-sidebar-right-foreground: var(--prismleaf-color-on-surface-variant);
	--prismleaf-region-sidebar-right-border-style: var(--prismleaf-border-style);
	--prismleaf-region-sidebar-right-border-color: var(--prismleaf-color-outline);
	--prismleaf-region-sidebar-right-radius: var(--prismleaf-radius-medium);
	--prismleaf-region-sidebar-right-shadow: var(--prismleaf-shadow);
}

