/*!
 * Prismleaf Tokens: Active
 *
 * Active palette mappings and semantic tokens.
 *
 * @package prismleaf
 */

:root {
	/* Active palette: brand roles. */
	--prismleaf-color-primary: var(--prismleaf-color-light-primary);
	--prismleaf-color-on-primary: var(--prismleaf-color-light-on-primary);
	--prismleaf-color-primary-darker: var(--prismleaf-color-light-primary-darker);
	--prismleaf-color-primary-darkest: var(--prismleaf-color-light-primary-darkest);
	--prismleaf-color-primary-lighter: var(--prismleaf-color-light-primary-lighter);
	--prismleaf-color-primary-lightest: var(--prismleaf-color-light-primary-lightest);
	--prismleaf-color-secondary: var(--prismleaf-color-light-secondary);
	--prismleaf-color-on-secondary: var(--prismleaf-color-light-on-secondary);
	--prismleaf-color-secondary-darker: var(--prismleaf-color-light-secondary-darker);
	--prismleaf-color-secondary-darkest: var(--prismleaf-color-light-secondary-darkest);
	--prismleaf-color-secondary-lighter: var(--prismleaf-color-light-secondary-lighter);
	--prismleaf-color-secondary-lightest: var(--prismleaf-color-light-secondary-lightest);
	--prismleaf-color-tertiary: var(--prismleaf-color-light-tertiary);
	--prismleaf-color-on-tertiary: var(--prismleaf-color-light-on-tertiary);
	--prismleaf-color-tertiary-darker: var(--prismleaf-color-light-tertiary-darker);
	--prismleaf-color-tertiary-darkest: var(--prismleaf-color-light-tertiary-darkest);
	--prismleaf-color-tertiary-lighter: var(--prismleaf-color-light-tertiary-lighter);
	--prismleaf-color-tertiary-lightest: var(--prismleaf-color-light-tertiary-lightest);

	/* Active palette: containers. */
	--prismleaf-color-primary-container: var(--prismleaf-color-light-primary-container);
	--prismleaf-color-on-primary-container: var(--prismleaf-color-light-on-primary-container);
	--prismleaf-color-primary-container-darker: var(--prismleaf-color-light-primary-container-darker);
	--prismleaf-color-primary-container-darkest: var(--prismleaf-color-light-primary-container-darkest);
	--prismleaf-color-primary-container-lighter: var(--prismleaf-color-light-primary-container-lighter);
	--prismleaf-color-primary-container-lightest: var(--prismleaf-color-light-primary-container-lightest);
	--prismleaf-color-secondary-container: var(--prismleaf-color-light-secondary-container);
	--prismleaf-color-on-secondary-container: var(--prismleaf-color-light-on-secondary-container);
	--prismleaf-color-secondary-container-darker: var(--prismleaf-color-light-secondary-container-darker);
	--prismleaf-color-secondary-container-darkest: var(--prismleaf-color-light-secondary-container-darkest);
	--prismleaf-color-secondary-container-lighter: var(--prismleaf-color-light-secondary-container-lighter);
	--prismleaf-color-secondary-container-lightest: var(--prismleaf-color-light-secondary-container-lightest);
	--prismleaf-color-tertiary-container: var(--prismleaf-color-light-tertiary-container);
	--prismleaf-color-on-tertiary-container: var(--prismleaf-color-light-on-tertiary-container);
	--prismleaf-color-tertiary-container-darker: var(--prismleaf-color-light-tertiary-container-darker);
	--prismleaf-color-tertiary-container-darkest: var(--prismleaf-color-light-tertiary-container-darkest);
	--prismleaf-color-tertiary-container-lighter: var(--prismleaf-color-light-tertiary-container-lighter);
	--prismleaf-color-tertiary-container-lightest: var(--prismleaf-color-light-tertiary-container-lightest);

	/* Active palette: neutrals. */
	--prismleaf-color-background: var(--prismleaf-color-light-background);
	--prismleaf-color-on-background: var(--prismleaf-color-light-on-background);
	--prismleaf-color-background-darker: var(--prismleaf-color-light-background-darker);
	--prismleaf-color-background-darkest: var(--prismleaf-color-light-background-darkest);
	--prismleaf-color-background-lighter: var(--prismleaf-color-light-background-lighter);
	--prismleaf-color-background-lightest: var(--prismleaf-color-light-background-lightest);
	--prismleaf-color-surface: var(--prismleaf-color-light-surface);
	--prismleaf-color-on-surface: var(--prismleaf-color-light-on-surface);
	--prismleaf-color-surface-darker: var(--prismleaf-color-light-surface-darker);
	--prismleaf-color-surface-darkest: var(--prismleaf-color-light-surface-darkest);
	--prismleaf-color-surface-lighter: var(--prismleaf-color-light-surface-lighter);
	--prismleaf-color-surface-lightest: var(--prismleaf-color-light-surface-lightest);
	--prismleaf-color-surface-variant: var(--prismleaf-color-light-surface-variant);
	--prismleaf-color-on-surface-variant: var(--prismleaf-color-light-on-surface-variant);
	--prismleaf-color-surface-variant-darker: var(--prismleaf-color-light-surface-variant-darker);
	--prismleaf-color-surface-variant-darkest: var(--prismleaf-color-light-surface-variant-darkest);
	--prismleaf-color-surface-variant-lighter: var(--prismleaf-color-light-surface-variant-lighter);
	--prismleaf-color-surface-variant-lightest: var(--prismleaf-color-light-surface-variant-lightest);
	--prismleaf-color-foreground: var(--prismleaf-color-light-foreground);
	--prismleaf-color-on-foreground: var(--prismleaf-color-light-on-foreground);
	--prismleaf-color-foreground-darker: var(--prismleaf-color-light-foreground-darker);
	--prismleaf-color-foreground-darkest: var(--prismleaf-color-light-foreground-darkest);
	--prismleaf-color-foreground-lighter: var(--prismleaf-color-light-foreground-lighter);
	--prismleaf-color-foreground-lightest: var(--prismleaf-color-light-foreground-lightest);

	/* Active palette: feedback roles. */
	--prismleaf-color-error: var(--prismleaf-color-light-error);
	--prismleaf-color-on-error: var(--prismleaf-color-light-on-error);
	--prismleaf-color-error-darker: var(--prismleaf-color-light-error-darker);
	--prismleaf-color-error-darkest: var(--prismleaf-color-light-error-darkest);
	--prismleaf-color-error-lighter: var(--prismleaf-color-light-error-lighter);
	--prismleaf-color-error-lightest: var(--prismleaf-color-light-error-lightest);
	--prismleaf-color-error-container: var(--prismleaf-color-light-error-container);
	--prismleaf-color-on-error-container: var(--prismleaf-color-light-on-error-container);
	--prismleaf-color-error-container-darker: var(--prismleaf-color-light-error-container-darker);
	--prismleaf-color-error-container-darkest: var(--prismleaf-color-light-error-container-darkest);
	--prismleaf-color-error-container-lighter: var(--prismleaf-color-light-error-container-lighter);
	--prismleaf-color-error-container-lightest: var(--prismleaf-color-light-error-container-lightest);
	--prismleaf-color-warning: var(--prismleaf-color-light-warning);
	--prismleaf-color-on-warning: var(--prismleaf-color-light-on-warning);
	--prismleaf-color-warning-darker: var(--prismleaf-color-light-warning-darker);
	--prismleaf-color-warning-darkest: var(--prismleaf-color-light-warning-darkest);
	--prismleaf-color-warning-lighter: var(--prismleaf-color-light-warning-lighter);
	--prismleaf-color-warning-lightest: var(--prismleaf-color-light-warning-lightest);
	--prismleaf-color-warning-container: var(--prismleaf-color-light-warning-container);
	--prismleaf-color-on-warning-container: var(--prismleaf-color-light-on-warning-container);
	--prismleaf-color-warning-container-darker: var(--prismleaf-color-light-warning-container-darker);
	--prismleaf-color-warning-container-darkest: var(--prismleaf-color-light-warning-container-darkest);
	--prismleaf-color-warning-container-lighter: var(--prismleaf-color-light-warning-container-lighter);
	--prismleaf-color-warning-container-lightest: var(--prismleaf-color-light-warning-container-lightest);
	--prismleaf-color-info: var(--prismleaf-color-light-info);
	--prismleaf-color-on-info: var(--prismleaf-color-light-on-info);
	--prismleaf-color-info-darker: var(--prismleaf-color-light-info-darker);
	--prismleaf-color-info-darkest: var(--prismleaf-color-light-info-darkest);
	--prismleaf-color-info-lighter: var(--prismleaf-color-light-info-lighter);
	--prismleaf-color-info-lightest: var(--prismleaf-color-light-info-lightest);
	--prismleaf-color-info-container: var(--prismleaf-color-light-info-container);
	--prismleaf-color-on-info-container: var(--prismleaf-color-light-on-info-container);
	--prismleaf-color-info-container-darker: var(--prismleaf-color-light-info-container-darker);
	--prismleaf-color-info-container-darkest: var(--prismleaf-color-light-info-container-darkest);
	--prismleaf-color-info-container-lighter: var(--prismleaf-color-light-info-container-lighter);
	--prismleaf-color-info-container-lightest: var(--prismleaf-color-light-info-container-lightest);

	/* Active palette: shadows and glow. */
	--prismleaf-shadow: var(--prismleaf-shadow-light-elevation-1);

	/* Active palette: opacity values. */
	--prismleaf-color-outline: var(--prismleaf-color-light-outline);
	--prismleaf-color-outline-variant: var(--prismleaf-color-light-outline-variant);
	--prismleaf-color-divider: var(--prismleaf-color-light-divider);
	--prismleaf-color-on-surface-muted: var(--prismleaf-color-light-on-surface-muted);
	--prismleaf-color-disabled-foreground: var(--prismleaf-color-light-disabled-foreground);
	--prismleaf-color-disabled-surface: var(--prismleaf-color-light-disabled-surface);
	--prismleaf-color-scrim: var(--prismleaf-color-light-scrim);

}
/* System dark mode. */
@media (prefers-color-scheme: dark) {
	:root {
		/* Active palette: brand roles. */
		--prismleaf-color-primary: var(--prismleaf-color-dark-primary);
		--prismleaf-color-on-primary: var(--prismleaf-color-dark-on-primary);
		--prismleaf-color-primary-darker: var(--prismleaf-color-dark-primary-darker);
		--prismleaf-color-primary-darkest: var(--prismleaf-color-dark-primary-darkest);
		--prismleaf-color-primary-lighter: var(--prismleaf-color-dark-primary-lighter);
		--prismleaf-color-primary-lightest: var(--prismleaf-color-dark-primary-lightest);
		--prismleaf-color-secondary: var(--prismleaf-color-dark-secondary);
		--prismleaf-color-on-secondary: var(--prismleaf-color-dark-on-secondary);
		--prismleaf-color-secondary-darker: var(--prismleaf-color-dark-secondary-darker);
		--prismleaf-color-secondary-darkest: var(--prismleaf-color-dark-secondary-darkest);
		--prismleaf-color-secondary-lighter: var(--prismleaf-color-dark-secondary-lighter);
		--prismleaf-color-secondary-lightest: var(--prismleaf-color-dark-secondary-lightest);
		--prismleaf-color-tertiary: var(--prismleaf-color-dark-tertiary);
		--prismleaf-color-on-tertiary: var(--prismleaf-color-dark-on-tertiary);
		--prismleaf-color-tertiary-darker: var(--prismleaf-color-dark-tertiary-darker);
		--prismleaf-color-tertiary-darkest: var(--prismleaf-color-dark-tertiary-darkest);
		--prismleaf-color-tertiary-lighter: var(--prismleaf-color-dark-tertiary-lighter);
		--prismleaf-color-tertiary-lightest: var(--prismleaf-color-dark-tertiary-lightest);

		/* Active palette: containers. */
		--prismleaf-color-primary-container: var(--prismleaf-color-dark-primary-container);
		--prismleaf-color-on-primary-container: var(--prismleaf-color-dark-on-primary-container);
		--prismleaf-color-primary-container-darker: var(--prismleaf-color-dark-primary-container-darker);
		--prismleaf-color-primary-container-darkest: var(--prismleaf-color-dark-primary-container-darkest);
		--prismleaf-color-primary-container-lighter: var(--prismleaf-color-dark-primary-container-lighter);
		--prismleaf-color-primary-container-lightest: var(--prismleaf-color-dark-primary-container-lightest);
		--prismleaf-color-secondary-container: var(--prismleaf-color-dark-secondary-container);
		--prismleaf-color-on-secondary-container: var(--prismleaf-color-dark-on-secondary-container);
		--prismleaf-color-secondary-container-darker: var(--prismleaf-color-dark-secondary-container-darker);
		--prismleaf-color-secondary-container-darkest: var(--prismleaf-color-dark-secondary-container-darkest);
		--prismleaf-color-secondary-container-lighter: var(--prismleaf-color-dark-secondary-container-lighter);
		--prismleaf-color-secondary-container-lightest: var(--prismleaf-color-dark-secondary-container-lightest);
		--prismleaf-color-tertiary-container: var(--prismleaf-color-dark-tertiary-container);
		--prismleaf-color-on-tertiary-container: var(--prismleaf-color-dark-on-tertiary-container);
		--prismleaf-color-tertiary-container-darker: var(--prismleaf-color-dark-tertiary-container-darker);
		--prismleaf-color-tertiary-container-darkest: var(--prismleaf-color-dark-tertiary-container-darkest);
		--prismleaf-color-tertiary-container-lighter: var(--prismleaf-color-dark-tertiary-container-lighter);
		--prismleaf-color-tertiary-container-lightest: var(--prismleaf-color-dark-tertiary-container-lightest);

		/* Active palette: neutrals. */
		--prismleaf-color-background: var(--prismleaf-color-dark-background);
		--prismleaf-color-on-background: var(--prismleaf-color-dark-on-background);
		--prismleaf-color-background-darker: var(--prismleaf-color-dark-background-darker);
		--prismleaf-color-background-darkest: var(--prismleaf-color-dark-background-darkest);
		--prismleaf-color-background-lighter: var(--prismleaf-color-dark-background-lighter);
		--prismleaf-color-background-lightest: var(--prismleaf-color-dark-background-lightest);
		--prismleaf-color-surface: var(--prismleaf-color-dark-surface);
		--prismleaf-color-on-surface: var(--prismleaf-color-dark-on-surface);
		--prismleaf-color-surface-darker: var(--prismleaf-color-dark-surface-darker);
		--prismleaf-color-surface-darkest: var(--prismleaf-color-dark-surface-darkest);
		--prismleaf-color-surface-lighter: var(--prismleaf-color-dark-surface-lighter);
		--prismleaf-color-surface-lightest: var(--prismleaf-color-dark-surface-lightest);
		--prismleaf-color-surface-variant: var(--prismleaf-color-dark-surface-variant);
		--prismleaf-color-on-surface-variant: var(--prismleaf-color-dark-on-surface-variant);
		--prismleaf-color-surface-variant-darker: var(--prismleaf-color-dark-surface-variant-darker);
		--prismleaf-color-surface-variant-darkest: var(--prismleaf-color-dark-surface-variant-darkest);
		--prismleaf-color-surface-variant-lighter: var(--prismleaf-color-dark-surface-variant-lighter);
		--prismleaf-color-surface-variant-lightest: var(--prismleaf-color-dark-surface-variant-lightest);
		--prismleaf-color-foreground: var(--prismleaf-color-dark-foreground);
		--prismleaf-color-on-foreground: var(--prismleaf-color-dark-on-foreground);
		--prismleaf-color-foreground-darker: var(--prismleaf-color-dark-foreground-darker);
		--prismleaf-color-foreground-darkest: var(--prismleaf-color-dark-foreground-darkest);
		--prismleaf-color-foreground-lighter: var(--prismleaf-color-dark-foreground-lighter);
		--prismleaf-color-foreground-lightest: var(--prismleaf-color-dark-foreground-lightest);

		/* Active palette: feedback roles. */
		--prismleaf-color-error: var(--prismleaf-color-dark-error);
		--prismleaf-color-on-error: var(--prismleaf-color-dark-on-error);
		--prismleaf-color-error-darker: var(--prismleaf-color-dark-error-darker);
		--prismleaf-color-error-darkest: var(--prismleaf-color-dark-error-darkest);
		--prismleaf-color-error-lighter: var(--prismleaf-color-dark-error-lighter);
		--prismleaf-color-error-lightest: var(--prismleaf-color-dark-error-lightest);
		--prismleaf-color-error-container: var(--prismleaf-color-dark-error-container);
		--prismleaf-color-on-error-container: var(--prismleaf-color-dark-on-error-container);
		--prismleaf-color-error-container-darker: var(--prismleaf-color-dark-error-container-darker);
		--prismleaf-color-error-container-darkest: var(--prismleaf-color-dark-error-container-darkest);
		--prismleaf-color-error-container-lighter: var(--prismleaf-color-dark-error-container-lighter);
		--prismleaf-color-error-container-lightest: var(--prismleaf-color-dark-error-container-lightest);
		--prismleaf-color-warning: var(--prismleaf-color-dark-warning);
		--prismleaf-color-on-warning: var(--prismleaf-color-dark-on-warning);
		--prismleaf-color-warning-darker: var(--prismleaf-color-dark-warning-darker);
		--prismleaf-color-warning-darkest: var(--prismleaf-color-dark-warning-darkest);
		--prismleaf-color-warning-lighter: var(--prismleaf-color-dark-warning-lighter);
		--prismleaf-color-warning-lightest: var(--prismleaf-color-dark-warning-lightest);
		--prismleaf-color-warning-container: var(--prismleaf-color-dark-warning-container);
		--prismleaf-color-on-warning-container: var(--prismleaf-color-dark-on-warning-container);
		--prismleaf-color-warning-container-darker: var(--prismleaf-color-dark-warning-container-darker);
		--prismleaf-color-warning-container-darkest: var(--prismleaf-color-dark-warning-container-darkest);
		--prismleaf-color-warning-container-lighter: var(--prismleaf-color-dark-warning-container-lighter);
		--prismleaf-color-warning-container-lightest: var(--prismleaf-color-dark-warning-container-lightest);
		--prismleaf-color-info: var(--prismleaf-color-dark-info);
		--prismleaf-color-on-info: var(--prismleaf-color-dark-on-info);
		--prismleaf-color-info-darker: var(--prismleaf-color-dark-info-darker);
		--prismleaf-color-info-darkest: var(--prismleaf-color-dark-info-darkest);
		--prismleaf-color-info-lighter: var(--prismleaf-color-dark-info-lighter);
		--prismleaf-color-info-lightest: var(--prismleaf-color-dark-info-lightest);
		--prismleaf-color-info-container: var(--prismleaf-color-dark-info-container);
		--prismleaf-color-on-info-container: var(--prismleaf-color-dark-on-info-container);
		--prismleaf-color-info-container-darker: var(--prismleaf-color-dark-info-container-darker);
		--prismleaf-color-info-container-darkest: var(--prismleaf-color-dark-info-container-darkest);
		--prismleaf-color-info-container-lighter: var(--prismleaf-color-dark-info-container-lighter);
		--prismleaf-color-info-container-lightest: var(--prismleaf-color-dark-info-container-lightest);

		/* Active palette: shadows and glow. */
		--prismleaf-shadow: var(--prismleaf-shadow-dark-elevation-1);

		/* Active palette: opacity values. */
		--prismleaf-color-outline: var(--prismleaf-color-dark-outline);
		--prismleaf-color-outline-variant: var(--prismleaf-color-dark-outline-variant);
		--prismleaf-color-divider: var(--prismleaf-color-dark-divider);
		--prismleaf-color-on-surface-muted: var(--prismleaf-color-dark-on-surface-muted);
		--prismleaf-color-disabled-foreground: var(--prismleaf-color-dark-disabled-foreground);
		--prismleaf-color-disabled-surface: var(--prismleaf-color-dark-disabled-surface);
		--prismleaf-color-scrim: var(--prismleaf-color-dark-scrim);
		--prismleaf-color-title-link: var(--prismleaf-color-dark-title-link);
		--prismleaf-color-title-link-hover: var(--prismleaf-color-dark-title-link-hover);
		--prismleaf-color-title-link-active: var(--prismleaf-color-dark-title-link-active);
		--prismleaf-color-title-link-visited: var(--prismleaf-color-dark-title-link-visited);
		--prismleaf-site-tagline-color: var(--prismleaf-color-dark-site-tagline);
	}
}

/* User-selected light overrides. */
:root[data-prismleaf-color-scheme="light"] {
	/* Active palette: brand roles. */
	--prismleaf-color-primary: var(--prismleaf-color-light-primary);
	--prismleaf-color-on-primary: var(--prismleaf-color-light-on-primary);
	--prismleaf-color-primary-darker: var(--prismleaf-color-light-primary-darker);
	--prismleaf-color-primary-darkest: var(--prismleaf-color-light-primary-darkest);
	--prismleaf-color-primary-lighter: var(--prismleaf-color-light-primary-lighter);
	--prismleaf-color-primary-lightest: var(--prismleaf-color-light-primary-lightest);
	--prismleaf-color-secondary: var(--prismleaf-color-light-secondary);
	--prismleaf-color-on-secondary: var(--prismleaf-color-light-on-secondary);
	--prismleaf-color-secondary-darker: var(--prismleaf-color-light-secondary-darker);
	--prismleaf-color-secondary-darkest: var(--prismleaf-color-light-secondary-darkest);
	--prismleaf-color-secondary-lighter: var(--prismleaf-color-light-secondary-lighter);
	--prismleaf-color-secondary-lightest: var(--prismleaf-color-light-secondary-lightest);
	--prismleaf-color-tertiary: var(--prismleaf-color-light-tertiary);
	--prismleaf-color-on-tertiary: var(--prismleaf-color-light-on-tertiary);
	--prismleaf-color-tertiary-darker: var(--prismleaf-color-light-tertiary-darker);
	--prismleaf-color-tertiary-darkest: var(--prismleaf-color-light-tertiary-darkest);
	--prismleaf-color-tertiary-lighter: var(--prismleaf-color-light-tertiary-lighter);
	--prismleaf-color-tertiary-lightest: var(--prismleaf-color-light-tertiary-lightest);

	/* Active palette: containers. */
	--prismleaf-color-primary-container: var(--prismleaf-color-light-primary-container);
	--prismleaf-color-on-primary-container: var(--prismleaf-color-light-on-primary-container);
	--prismleaf-color-primary-container-darker: var(--prismleaf-color-light-primary-container-darker);
	--prismleaf-color-primary-container-darkest: var(--prismleaf-color-light-primary-container-darkest);
	--prismleaf-color-primary-container-lighter: var(--prismleaf-color-light-primary-container-lighter);
	--prismleaf-color-primary-container-lightest: var(--prismleaf-color-light-primary-container-lightest);
	--prismleaf-color-secondary-container: var(--prismleaf-color-light-secondary-container);
	--prismleaf-color-on-secondary-container: var(--prismleaf-color-light-on-secondary-container);
	--prismleaf-color-secondary-container-darker: var(--prismleaf-color-light-secondary-container-darker);
	--prismleaf-color-secondary-container-darkest: var(--prismleaf-color-light-secondary-container-darkest);
	--prismleaf-color-secondary-container-lighter: var(--prismleaf-color-light-secondary-container-lighter);
	--prismleaf-color-secondary-container-lightest: var(--prismleaf-color-light-secondary-container-lightest);
	--prismleaf-color-tertiary-container: var(--prismleaf-color-light-tertiary-container);
	--prismleaf-color-on-tertiary-container: var(--prismleaf-color-light-on-tertiary-container);
	--prismleaf-color-tertiary-container-darker: var(--prismleaf-color-light-tertiary-container-darker);
	--prismleaf-color-tertiary-container-darkest: var(--prismleaf-color-light-tertiary-container-darkest);
	--prismleaf-color-tertiary-container-lighter: var(--prismleaf-color-light-tertiary-container-lighter);
	--prismleaf-color-tertiary-container-lightest: var(--prismleaf-color-light-tertiary-container-lightest);

	/* Active palette: neutrals. */
	--prismleaf-color-background: var(--prismleaf-color-light-background);
	--prismleaf-color-on-background: var(--prismleaf-color-light-on-background);
	--prismleaf-color-background-darker: var(--prismleaf-color-light-background-darker);
	--prismleaf-color-background-darkest: var(--prismleaf-color-light-background-darkest);
	--prismleaf-color-background-lighter: var(--prismleaf-color-light-background-lighter);
	--prismleaf-color-background-lightest: var(--prismleaf-color-light-background-lightest);
	--prismleaf-color-surface: var(--prismleaf-color-light-surface);
	--prismleaf-color-on-surface: var(--prismleaf-color-light-on-surface);
	--prismleaf-color-surface-darker: var(--prismleaf-color-light-surface-darker);
	--prismleaf-color-surface-darkest: var(--prismleaf-color-light-surface-darkest);
	--prismleaf-color-surface-lighter: var(--prismleaf-color-light-surface-lighter);
	--prismleaf-color-surface-lightest: var(--prismleaf-color-light-surface-lightest);
	--prismleaf-color-surface-variant: var(--prismleaf-color-light-surface-variant);
	--prismleaf-color-on-surface-variant: var(--prismleaf-color-light-on-surface-variant);
	--prismleaf-color-surface-variant-darker: var(--prismleaf-color-light-surface-variant-darker);
	--prismleaf-color-surface-variant-darkest: var(--prismleaf-color-light-surface-variant-darkest);
	--prismleaf-color-surface-variant-lighter: var(--prismleaf-color-light-surface-variant-lighter);
	--prismleaf-color-surface-variant-lightest: var(--prismleaf-color-light-surface-variant-lightest);
	--prismleaf-color-foreground: var(--prismleaf-color-light-foreground);
	--prismleaf-color-on-foreground: var(--prismleaf-color-light-on-foreground);
	--prismleaf-color-foreground-darker: var(--prismleaf-color-light-foreground-darker);
	--prismleaf-color-foreground-darkest: var(--prismleaf-color-light-foreground-darkest);
	--prismleaf-color-foreground-lighter: var(--prismleaf-color-light-foreground-lighter);
	--prismleaf-color-foreground-lightest: var(--prismleaf-color-light-foreground-lightest);

	/* Active palette: feedback roles. */
	--prismleaf-color-error: var(--prismleaf-color-light-error);
	--prismleaf-color-on-error: var(--prismleaf-color-light-on-error);
	--prismleaf-color-error-darker: var(--prismleaf-color-light-error-darker);
	--prismleaf-color-error-darkest: var(--prismleaf-color-light-error-darkest);
	--prismleaf-color-error-lighter: var(--prismleaf-color-light-error-lighter);
	--prismleaf-color-error-lightest: var(--prismleaf-color-light-error-lightest);
	--prismleaf-color-error-container: var(--prismleaf-color-light-error-container);
	--prismleaf-color-on-error-container: var(--prismleaf-color-light-on-error-container);
	--prismleaf-color-error-container-darker: var(--prismleaf-color-light-error-container-darker);
	--prismleaf-color-error-container-darkest: var(--prismleaf-color-light-error-container-darkest);
	--prismleaf-color-error-container-lighter: var(--prismleaf-color-light-error-container-lighter);
	--prismleaf-color-error-container-lightest: var(--prismleaf-color-light-error-container-lightest);
	--prismleaf-color-warning: var(--prismleaf-color-light-warning);
	--prismleaf-color-on-warning: var(--prismleaf-color-light-on-warning);
	--prismleaf-color-warning-darker: var(--prismleaf-color-light-warning-darker);
	--prismleaf-color-warning-darkest: var(--prismleaf-color-light-warning-darkest);
	--prismleaf-color-warning-lighter: var(--prismleaf-color-light-warning-lighter);
	--prismleaf-color-warning-lightest: var(--prismleaf-color-light-warning-lightest);
	--prismleaf-color-warning-container: var(--prismleaf-color-light-warning-container);
	--prismleaf-color-on-warning-container: var(--prismleaf-color-light-on-warning-container);
	--prismleaf-color-warning-container-darker: var(--prismleaf-color-light-warning-container-darker);
	--prismleaf-color-warning-container-darkest: var(--prismleaf-color-light-warning-container-darkest);
	--prismleaf-color-warning-container-lighter: var(--prismleaf-color-light-warning-container-lighter);
	--prismleaf-color-warning-container-lightest: var(--prismleaf-color-light-warning-container-lightest);
	--prismleaf-color-info: var(--prismleaf-color-light-info);
	--prismleaf-color-on-info: var(--prismleaf-color-light-on-info);
	--prismleaf-color-info-darker: var(--prismleaf-color-light-info-darker);
	--prismleaf-color-info-darkest: var(--prismleaf-color-light-info-darkest);
	--prismleaf-color-info-lighter: var(--prismleaf-color-light-info-lighter);
	--prismleaf-color-info-lightest: var(--prismleaf-color-light-info-lightest);
	--prismleaf-color-info-container: var(--prismleaf-color-light-info-container);
	--prismleaf-color-on-info-container: var(--prismleaf-color-light-on-info-container);
	--prismleaf-color-info-container-darker: var(--prismleaf-color-light-info-container-darker);
	--prismleaf-color-info-container-darkest: var(--prismleaf-color-light-info-container-darkest);
	--prismleaf-color-info-container-lighter: var(--prismleaf-color-light-info-container-lighter);
	--prismleaf-color-info-container-lightest: var(--prismleaf-color-light-info-container-lightest);

	/* Active palette: shadows and glow. */
	--prismleaf-shadow: var(--prismleaf-shadow-light-elevation-1);

	/* Active palette: opacity values. */
	--prismleaf-color-outline: var(--prismleaf-color-light-outline);
	--prismleaf-color-outline-variant: var(--prismleaf-color-light-outline-variant);
	--prismleaf-color-divider: var(--prismleaf-color-light-divider);
	--prismleaf-color-on-surface-muted: var(--prismleaf-color-light-on-surface-muted);
	--prismleaf-color-disabled-foreground: var(--prismleaf-color-light-disabled-foreground);
	--prismleaf-color-disabled-surface: var(--prismleaf-color-light-disabled-surface);
	--prismleaf-color-scrim: var(--prismleaf-color-light-scrim);
}

/* User selected dark overrides. */
:root[data-prismleaf-color-scheme="dark"] {
	/* Active palette: brand roles. */
	--prismleaf-color-primary: var(--prismleaf-color-dark-primary);
	--prismleaf-color-on-primary: var(--prismleaf-color-dark-on-primary);
	--prismleaf-color-primary-darker: var(--prismleaf-color-dark-primary-darker);
	--prismleaf-color-primary-darkest: var(--prismleaf-color-dark-primary-darkest);
	--prismleaf-color-primary-lighter: var(--prismleaf-color-dark-primary-lighter);
	--prismleaf-color-primary-lightest: var(--prismleaf-color-dark-primary-lightest);
	--prismleaf-color-secondary: var(--prismleaf-color-dark-secondary);
	--prismleaf-color-on-secondary: var(--prismleaf-color-dark-on-secondary);
	--prismleaf-color-secondary-darker: var(--prismleaf-color-dark-secondary-darker);
	--prismleaf-color-secondary-darkest: var(--prismleaf-color-dark-secondary-darkest);
	--prismleaf-color-secondary-lighter: var(--prismleaf-color-dark-secondary-lighter);
	--prismleaf-color-secondary-lightest: var(--prismleaf-color-dark-secondary-lightest);
	--prismleaf-color-tertiary: var(--prismleaf-color-dark-tertiary);
	--prismleaf-color-on-tertiary: var(--prismleaf-color-dark-on-tertiary);
	--prismleaf-color-tertiary-darker: var(--prismleaf-color-dark-tertiary-darker);
	--prismleaf-color-tertiary-darkest: var(--prismleaf-color-dark-tertiary-darkest);
	--prismleaf-color-tertiary-lighter: var(--prismleaf-color-dark-tertiary-lighter);
	--prismleaf-color-tertiary-lightest: var(--prismleaf-color-dark-tertiary-lightest);

	/* Active palette: containers. */
	--prismleaf-color-primary-container: var(--prismleaf-color-dark-primary-container);
	--prismleaf-color-on-primary-container: var(--prismleaf-color-dark-on-primary-container);
	--prismleaf-color-primary-container-darker: var(--prismleaf-color-dark-primary-container-darker);
	--prismleaf-color-primary-container-darkest: var(--prismleaf-color-dark-primary-container-darkest);
	--prismleaf-color-primary-container-lighter: var(--prismleaf-color-dark-primary-container-lighter);
	--prismleaf-color-primary-container-lightest: var(--prismleaf-color-dark-primary-container-lightest);
	--prismleaf-color-secondary-container: var(--prismleaf-color-dark-secondary-container);
	--prismleaf-color-on-secondary-container: var(--prismleaf-color-dark-on-secondary-container);
	--prismleaf-color-secondary-container-darker: var(--prismleaf-color-dark-secondary-container-darker);
	--prismleaf-color-secondary-container-darkest: var(--prismleaf-color-dark-secondary-container-darkest);
	--prismleaf-color-secondary-container-lighter: var(--prismleaf-color-dark-secondary-container-lighter);
	--prismleaf-color-secondary-container-lightest: var(--prismleaf-color-dark-secondary-container-lightest);
	--prismleaf-color-tertiary-container: var(--prismleaf-color-dark-tertiary-container);
	--prismleaf-color-on-tertiary-container: var(--prismleaf-color-dark-on-tertiary-container);
	--prismleaf-color-tertiary-container-darker: var(--prismleaf-color-dark-tertiary-container-darker);
	--prismleaf-color-tertiary-container-darkest: var(--prismleaf-color-dark-tertiary-container-darkest);
	--prismleaf-color-tertiary-container-lighter: var(--prismleaf-color-dark-tertiary-container-lighter);
	--prismleaf-color-tertiary-container-lightest: var(--prismleaf-color-dark-tertiary-container-lightest);

	/* Active palette: neutrals. */
	--prismleaf-color-background: var(--prismleaf-color-dark-background);
	--prismleaf-color-on-background: var(--prismleaf-color-dark-on-background);
	--prismleaf-color-background-darker: var(--prismleaf-color-dark-background-darker);
	--prismleaf-color-background-darkest: var(--prismleaf-color-dark-background-darkest);
	--prismleaf-color-background-lighter: var(--prismleaf-color-dark-background-lighter);
	--prismleaf-color-background-lightest: var(--prismleaf-color-dark-background-lightest);
	--prismleaf-color-surface: var(--prismleaf-color-dark-surface);
	--prismleaf-color-on-surface: var(--prismleaf-color-dark-on-surface);
	--prismleaf-color-surface-darker: var(--prismleaf-color-dark-surface-darker);
	--prismleaf-color-surface-darkest: var(--prismleaf-color-dark-surface-darkest);
	--prismleaf-color-surface-lighter: var(--prismleaf-color-dark-surface-lighter);
	--prismleaf-color-surface-lightest: var(--prismleaf-color-dark-surface-lightest);
	--prismleaf-color-surface-variant: var(--prismleaf-color-dark-surface-variant);
	--prismleaf-color-on-surface-variant: var(--prismleaf-color-dark-on-surface-variant);
	--prismleaf-color-surface-variant-darker: var(--prismleaf-color-dark-surface-variant-darker);
	--prismleaf-color-surface-variant-darkest: var(--prismleaf-color-dark-surface-variant-darkest);
	--prismleaf-color-surface-variant-lighter: var(--prismleaf-color-dark-surface-variant-lighter);
	--prismleaf-color-surface-variant-lightest: var(--prismleaf-color-dark-surface-variant-lightest);
	--prismleaf-color-foreground: var(--prismleaf-color-dark-foreground);
	--prismleaf-color-on-foreground: var(--prismleaf-color-dark-on-foreground);
	--prismleaf-color-foreground-darker: var(--prismleaf-color-dark-foreground-darker);
	--prismleaf-color-foreground-darkest: var(--prismleaf-color-dark-foreground-darkest);
	--prismleaf-color-foreground-lighter: var(--prismleaf-color-dark-foreground-lighter);
	--prismleaf-color-foreground-lightest: var(--prismleaf-color-dark-foreground-lightest);

	/* Active palette: feedback roles. */
	--prismleaf-color-error: var(--prismleaf-color-dark-error);
	--prismleaf-color-on-error: var(--prismleaf-color-dark-on-error);
	--prismleaf-color-error-darker: var(--prismleaf-color-dark-error-darker);
	--prismleaf-color-error-darkest: var(--prismleaf-color-dark-error-darkest);
	--prismleaf-color-error-lighter: var(--prismleaf-color-dark-error-lighter);
	--prismleaf-color-error-lightest: var(--prismleaf-color-dark-error-lightest);
	--prismleaf-color-error-container: var(--prismleaf-color-dark-error-container);
	--prismleaf-color-on-error-container: var(--prismleaf-color-dark-on-error-container);
	--prismleaf-color-error-container-darker: var(--prismleaf-color-dark-error-container-darker);
	--prismleaf-color-error-container-darkest: var(--prismleaf-color-dark-error-container-darkest);
	--prismleaf-color-error-container-lighter: var(--prismleaf-color-dark-error-container-lighter);
	--prismleaf-color-error-container-lightest: var(--prismleaf-color-dark-error-container-lightest);
	--prismleaf-color-warning: var(--prismleaf-color-dark-warning);
	--prismleaf-color-on-warning: var(--prismleaf-color-dark-on-warning);
	--prismleaf-color-warning-darker: var(--prismleaf-color-dark-warning-darker);
	--prismleaf-color-warning-darkest: var(--prismleaf-color-dark-warning-darkest);
	--prismleaf-color-warning-lighter: var(--prismleaf-color-dark-warning-lighter);
	--prismleaf-color-warning-lightest: var(--prismleaf-color-dark-warning-lightest);
	--prismleaf-color-warning-container: var(--prismleaf-color-dark-warning-container);
	--prismleaf-color-on-warning-container: var(--prismleaf-color-dark-on-warning-container);
	--prismleaf-color-warning-container-darker: var(--prismleaf-color-dark-warning-container-darker);
	--prismleaf-color-warning-container-darkest: var(--prismleaf-color-dark-warning-container-darkest);
	--prismleaf-color-warning-container-lighter: var(--prismleaf-color-dark-warning-container-lighter);
	--prismleaf-color-warning-container-lightest: var(--prismleaf-color-dark-warning-container-lightest);
	--prismleaf-color-info: var(--prismleaf-color-dark-info);
	--prismleaf-color-on-info: var(--prismleaf-color-dark-on-info);
	--prismleaf-color-info-darker: var(--prismleaf-color-dark-info-darker);
	--prismleaf-color-info-darkest: var(--prismleaf-color-dark-info-darkest);
	--prismleaf-color-info-lighter: var(--prismleaf-color-dark-info-lighter);
	--prismleaf-color-info-lightest: var(--prismleaf-color-dark-info-lightest);
	--prismleaf-color-info-container: var(--prismleaf-color-dark-info-container);
	--prismleaf-color-on-info-container: var(--prismleaf-color-dark-on-info-container);
	--prismleaf-color-info-container-darker: var(--prismleaf-color-dark-info-container-darker);
	--prismleaf-color-info-container-darkest: var(--prismleaf-color-dark-info-container-darkest);
	--prismleaf-color-info-container-lighter: var(--prismleaf-color-dark-info-container-lighter);
	--prismleaf-color-info-container-lightest: var(--prismleaf-color-dark-info-container-lightest);

	/* Active palette: shadows and glow. */
	--prismleaf-shadow: var(--prismleaf-shadow-dark-elevation-1);

	/* Active palette: opacity values. */
	--prismleaf-color-outline: var(--prismleaf-color-dark-outline);
	--prismleaf-color-outline-variant: var(--prismleaf-color-dark-outline-variant);
	--prismleaf-color-divider: var(--prismleaf-color-dark-divider);
	--prismleaf-color-on-surface-muted: var(--prismleaf-color-dark-on-surface-muted);
	--prismleaf-color-disabled-foreground: var(--prismleaf-color-dark-disabled-foreground);
	--prismleaf-color-disabled-surface: var(--prismleaf-color-dark-disabled-surface);
	--prismleaf-color-scrim: var(--prismleaf-color-dark-scrim);
}

/* Derived semantic color tokens (if supported). */
@supports (color: color-mix(in srgb, black 50%, transparent)) {
	:root {
		--prismleaf-color-outline: color-mix(in srgb, var(--prismleaf-color-on-surface) 30%, transparent);
		--prismleaf-color-outline-variant: color-mix(in srgb, var(--prismleaf-color-on-surface) 18%, transparent);
		--prismleaf-color-divider: color-mix(in srgb, var(--prismleaf-color-on-surface) 12%, transparent);
		--prismleaf-color-on-surface-muted: color-mix(in srgb, var(--prismleaf-color-on-surface) 72%, transparent);
		--prismleaf-color-disabled-foreground: color-mix(in srgb, var(--prismleaf-color-on-surface) 38%, transparent);
		--prismleaf-color-disabled-surface: color-mix(in srgb, var(--prismleaf-color-on-surface) 12%, transparent);
	}
}

/* Branding. */
:root {
	/* Active palette: code. */
	--prismleaf-color-code-surface: var(--prismleaf-color-surface-variant);
	--prismleaf-color-on-code-surface: var(--prismleaf-color-on-surface-variant);
	--prismleaf-color-code-foreground: var(--prismleaf-color-foreground);

	/* Active palette: hyperlink defaults. */
	--prismleaf-color-link: var(--prismleaf-color-secondary);
	--prismleaf-color-link-hover: var(--prismleaf-color-secondary-darker);
	--prismleaf-color-link-active: var(--prismleaf-color-secondary-darkest);
	--prismleaf-color-link-visited: var(--prismleaf-color-secondary-darker);
	--prismleaf-color-on-link: var(--prismleaf-color-on-secondary);

	/* Active palette: hyperlink titles. */
	--prismleaf-color-title-link: var(--prismleaf-color-primary);
	--prismleaf-color-title-link-hover: var(--prismleaf-color-primary-darker);
	--prismleaf-color-title-link-active: var(--prismleaf-color-primary-darkest);
	--prismleaf-color-title-link-visited: var(--prismleaf-color-primary-darker);
	--prismleaf-color-on-title-link: var(--prismleaf-color-on-primary);

	/* Active palette: hyperlink variant. */
	--prismleaf-color-variant-link: var(--prismleaf-color-tertiary);
	--prismleaf-color-variant-link-hover: var(--prismleaf-color-tertiary-darker);
	--prismleaf-color-variant-link-active: var(--prismleaf-color-tertiary-darkest);
	--prismleaf-color-variant-link-visited: var(--prismleaf-color-tertiary-darker);
	--prismleaf-color-on-variant-link: var(--prismleaf-color-on-tertiary);

	/* Active palette: focus. */
	--prismleaf-color-focus-ring: var(--prismleaf-color-secondary);
	--prismleaf-color-focus-ring-hover: var(--prismleaf-color-secondary-darker);
	--prismleaf-color-focus-ring-active: var(--prismleaf-color-secondary-darkest);
	--prismleaf-color-on-focus-ring: var(--prismleaf-color-on-secondary);

	/* Active palette: selection. */
	--prismleaf-color-selection-background: var(--prismleaf-color-secondary-container);
	--prismleaf-color-selection-foreground: var(--prismleaf-color-on-secondary-container);

	/* Active palette: content. */
	--prismleaf-region-content-background: var(--prismleaf-color-surface);
	--prismleaf-region-content-foreground: var(--prismleaf-color-on-surface);
	--prismleaf-region-content-border-style: var(--prismleaf-border-style);
	--prismleaf-region-content-border-color: var(--prismleaf-color-outline);
	--prismleaf-region-content-radius: var(--prismleaf-radius-medium);
	--prismleaf-region-content-shadow: var(--prismleaf-shadow);

	/* Active palette: header. */
	--prismleaf-region-header-background: var(--prismleaf-color-surface);
	--prismleaf-region-header-foreground: var(--prismleaf-color-on-surface);
	--prismleaf-region-header-border-style: var(--prismleaf-border-style);
	--prismleaf-region-header-border-color: var(--prismleaf-color-outline);
	--prismleaf-region-header-radius: var(--prismleaf-radius-medium);
	--prismleaf-region-header-shadow: var(--prismleaf-shadow);

	/* Active palette: footer. */
	--prismleaf-region-footer-background: var(--prismleaf-color-surface-variant);
	--prismleaf-region-footer-foreground: var(--prismleaf-color-on-surface-variant);
	--prismleaf-region-footer-border-style: var(--prismleaf-border-style);
	--prismleaf-region-footer-border-color: var(--prismleaf-color-outline);
	--prismleaf-region-footer-radius: var(--prismleaf-radius-medium);
	--prismleaf-region-footer-shadow: var(--prismleaf-shadow);

	/* Active palette: sidebar left. */
	--prismleaf-region-sidebar-left-background: var(--prismleaf-color-surface-variant);
	--prismleaf-region-sidebar-left-foreground: var(--prismleaf-color-on-surface-variant);
	--prismleaf-region-sidebar-left-border-style: var(--prismleaf-border-style);
	--prismleaf-region-sidebar-left-border-color: var(--prismleaf-color-outline);
	--prismleaf-region-sidebar-left-radius: var(--prismleaf-radius-medium);
	--prismleaf-region-sidebar-left-shadow: var(--prismleaf-shadow);

	/* Active palette: sidebar right. */
	--prismleaf-region-sidebar-right-background: var(--prismleaf-color-surface-variant);
	--prismleaf-region-sidebar-right-foreground: var(--prismleaf-color-on-surface-variant);
	--prismleaf-region-sidebar-right-border-style: var(--prismleaf-border-style);
	--prismleaf-region-sidebar-right-border-color: var(--prismleaf-color-outline);
	--prismleaf-region-sidebar-right-radius: var(--prismleaf-radius-medium);
	--prismleaf-region-sidebar-right-shadow: var(--prismleaf-shadow);
}
