/*!
 * Prismleaf Content Region
 *
 * Layout and surface styling for the content region.
 *
 * @package prismleaf
 */

/* Content region tokens. */
:root {
	--prismleaf-content-background-color: var(--prismleaf-color-surface-2);
	--prismleaf-content-border-color: var(--prismleaf-color-outline);
	--prismleaf-content-border-radius: var(--prismleaf-radius-medium);
	--prismleaf-content-border-style: var(--prismleaf-border-style);
	--prismleaf-content-border-width: var(--prismleaf-border-width-thin);
	--prismleaf-content-elevation: var(--prismleaf-shadow-elevation-2);
	--prismleaf-content-foreground-color: var(--prismleaf-color-surface-on);
	--prismleaf-content-padding: var(--prismleaf-space-2);
	--prismleaf-content-margin: var(--prismleaf-space-2);
	--prismleaf-content-title-color: var(--prismleaf-color-primary-surface-1);
}

/* Content region styling. */
.prismleaf-region-content {
	grid-area: content;
	background-color: var(--prismleaf-content-background-color);
	border-color: var(--prismleaf-content-border-color);
	border-radius: var(--prismleaf-content-border-radius);
	border-style: var(--prismleaf-content-border-style);
	border-width: var(--prismleaf-content-border-width);
	box-shadow: var(--prismleaf-content-elevation);
	color: var(--prismleaf-content-foreground-color);
	margin: var(--prismleaf-content-margin);
	padding: var(--prismleaf-content-padding);
	overflow: hidden;
}

.prismleaf-content-header {
	margin-bottom: var(--prismleaf-space-4);
}

.prismleaf-content-title {
	color: var(--prismleaf-content-title-color);
	font-size: var(--prismleaf-font-size-2xl);
}

.prismleaf-content-title-row {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: var(--prismleaf-space-2);
	align-items: center;
}

.prismleaf-content-title-end {
	display: flex;
	justify-content: flex-end;
}

.prismleaf-content-title-edit {
	width: var(--prismleaf-space-5);
	height: var(--prismleaf-space-5);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: var(--prismleaf-color-tertiary-surface-1);
	mask: url(../images/edit.svg) center/contain no-repeat;
	-webkit-mask: url(../images/edit.svg) center/contain no-repeat;
	border: none;
	text-decoration: none;
	transition: background-color 0.2s ease;
}

.prismleaf-content-title-edit:hover,
.prismleaf-content-title-edit:focus-visible {
	background-color: var(--prismleaf-color-tertiary-surface-5);
}
