/**
 * Theme switch component styles.
 *
 * @package prismleaf
 */

.prismleaf-theme-switch {
	border: none;
	background-color: var(--prismleaf-color-link);
	width: var(--prismleaf-space-4);
	height: var(--prismleaf-space-4);
	padding: 0;
	margin: 0;
	border-radius: var(--prismleaf-radius-full);
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.2s ease, box-shadow 0.2s ease;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	mask-position: center;
	background-origin: border-box;
}

.prismleaf-theme-switch:hover,
.prismleaf-theme-switch:focus-visible {
	background-color: var(--prismleaf-color-link-hover);
}

.prismleaf-theme-switch:focus-visible {
	outline: none;
	box-shadow: 0 0 0 2px var(--prismleaf-color-link-hover);
}

.prismleaf-theme-switch:disabled {
	cursor: default;
	opacity: 0.4;
}

.prismleaf-theme-switch[data-prismleaf-theme-switch-state="auto"] {
	-webkit-mask-image: url(../images/theme-auto.svg);
	mask-image: url(../images/theme-auto.svg);
}

.prismleaf-theme-switch[data-prismleaf-theme-switch-state="dark"] {
	-webkit-mask-image: url(../images/theme-dark.svg);
	mask-image: url(../images/theme-dark.svg);
}

.prismleaf-theme-switch[data-prismleaf-theme-switch-state="light"] {
	-webkit-mask-image: url(../images/theme-light.svg);
	mask-image: url(../images/theme-light.svg);
}
